//<INPUT>
// сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	padding: 14px 20px;
	min-height: toRem(48);
	font-size: toRem(16);
	line-height: math.div(22, 16);
	box-sizing: border-box;
	border: 1px solid var(--bg-accent-secondary);
	border-radius: 8px;
	background: transparent;
	color: var(--text-primary);
	&._form-focus {
	}
	&._form-error {
		border-color: var(--bg-accent-secondary);
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
